## 1. 读取数据集
这里，创建一个人工数据集，并存储在csv(都好分隔值)文件../data/house_tiny.csv中

In [1]:
import os # 导入系统包

In [9]:
os.makedirs(os.path.join('..', 'data'), exist_ok=True)
data_file = os.path.join('..', 'data', 'house_tiny.csv')

with open(data_file,  'w') as f:
    f.write('NumRooms, Alley, Price\n') # 列名
    f.write('NA, Pave, 127500\n') # 每行表示一个数据样本
    f.write('2,NA, 1060000\n')
    f.write('4,NA, 178100\n')
    f.write('NA,NA, 140000\n')

要将创建的csv文件加载原始数据集，需要导入pandas包并调用read_csv函数。

In [10]:
import pandas as pd

data = pd.read_csv(data_file)
data

   NumRooms  Alley    Price
0       NaN   Pave   127500
1       2.0    NaN  1060000
2       4.0    NaN   178100
3       NaN    NaN   140000

## 2. 处理缺失值
“NAN”项代表缺失值。
为了处理缺失的数据，典型方法包括**插值**和**删除**

In [11]:
# 通过位置索引iloc，将数据集分为inputs和outputs
inputs, outputs = data.iloc[:, :2], data.iloc[:, 2]
inputs = inputs.fillna(inputs.mean())
inputs

   NumRooms  Alley
0       3.0   Pave
1       2.0    NaN
2       4.0    NaN
3       3.0    NaN

对于inputs中的类别值或离散值，将“NaN”视为一个类别

In [12]:
inputs = pd.get_dummies(inputs, dummy_na=True)
inputs

   NumRooms   Alley_ Pave   Alley_nan
0       3.0             1           0
1       2.0             0           1
2       4.0             0           1
3       3.0             0           1

## 3. 转换为张量
现在inputs 和 outputs 中的所有条目都是数值类型，就可以转换为张量格式

In [15]:
import torch

X, y = torch.tensor(inputs.values), torch.tensor(outputs.values)
X, y

(tensor([[3., 1., 0.],
         [2., 0., 1.],
         [4., 0., 1.],
         [3., 0., 1.]], dtype=torch.float64),
 tensor([ 127500, 1060000,  178100,  140000]))